:root,:root.light{
    --base-color:#5C5CFF;
    --main-color: #5C5CFF;
    --background-color : #E7E7FF;
    --main-text-color: #000;
    --post-background-color: #EEEEF0;
    --post-border: 2px solid #C8C8DE;
    --color-scheme: light;
}
@media (prefers-color-scheme: dark) {
    :root{
        --main-color: #8989ff;
        --background-color: #121237;
        --main-text-color:#b1b1b1;
        --post-background-color: #272729;
        --post-border: 2px solid #7c7c8a;
        --color-scheme: dark;
    }
}
:root.dark{
    --main-color: #8989ff;
    --background-color: #121237;
    --main-text-color:#b1b1b1;
    --post-background-color: #272729;
    --post-border: 2px solid #7c7c8a;
    --color-scheme: dark;
}
html{
    color-scheme: var(--color-scheme);
}
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-size: 18px;
    margin: 0 auto;
    background-color: var(--background-color);
    color: var(--main-text-color);
}
hr{
    border: 1px solid var(--main-color);
}
h2,h3{
    margin-block-end: 0.2em;
}
h2 + p,h3 + p {
    margin-block-start: 0.4em;
}
a{
    color: var(--main-color);
    text-decoration: none;
}
a>h2{
    color: var(--main-text-color);
}
a>h2:hover{
    color: var(--main-color);
}
header{
    display: flex;
    max-width: 1440px;
    padding: 1.4em;
    justify-content: space-around;
    align-items: center;
    background: var(--background-color);
    margin: 0 auto;
}
header a{
    font-size: 24px;
    color: var(--main-text-color);
    text-decoration: none;
}
a.blog-author{
    font-weight: bold; 
    font-size: 30px;
    letter-spacing: 2.4px;
    display: flex;
    align-items: center;
    gap: 10px;
}
main{
    max-width: 1440px;
    margin: 0 auto 2em auto;
}
.about-me{
    position: sticky;
    top: 1em;
    width: min(640px,100%);
    max-width: 640px;
    border: var(--post-border);
    background-color: var(--post-background-color);
    padding: 10px;
    margin: 0 auto;
}
.about-me p,.about-me h2{
    padding: 0 20px;
}
.about-me img{
    border: var(--post-border);
    width: 100%;
}
.about-me .openCloser{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}
.about-me .panel{
    max-height: unset;
    overflow: hidden;
}
::selection{
    background-color: rgba(255,255,0,.3);
}
.posts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    max-width: 640px;
    width: min(640px,100%);
    margin: 0 auto;
}
article.post {
    border: var(--post-border);
    width: 100%;
    padding: 10px 20px;
    background-color: var(--post-background-color);
}
.post video{
    width: 100%;
}
.post h2{
    margin-block-start: 0.8em;
    margin-block-end: 0.3em;
}
.title p{
    margin-block-start: 1.1em;
}
.title h2{
    background-color: var(--base-color);
    color: #fff;
    padding: 0.1em 0.2em;
    outline: 4px solid var(--base-color);
    border: 2px solid #fff;
    border-left: 8px solid #fff;
    font-weight: 400;
}
.pagination{
    max-width: 640px;
    margin: 1.5em auto;
    display: flex;
    gap: 3px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    width: fit-content;
}
.pagination a{
    font-size: 1.3em;
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--main-text-color);
}
.pagination a.current{
    color: #fff;
    background-color: var(--base-color);
}
.pagination a:hover{
    text-decoration: none;
    color: var(--main-color);
}
.pagination a.current:hover{
    text-decoration: none;
    color: #fff;
}
.layout{
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr;
    align-items: start;
    padding: 0 100px;
}
div.posts{
    grid-area: 1/2;
}
.post-list{
    grid-area: 1/3;
    position: sticky;
    top: 1em;
}
.post-list a{
    color: var(--main-text-color);
    display: block;
    padding-block-end: 0.5em;
}
.post-list .current {
    color: var(--main-color);
    pointer-events: none;
}
.post-list a:hover{
    color: var(--main-color);
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 5em; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}
    
.modal-content {
    position: relative;
    background-color: var(--post-background-color);
    margin: auto;
    padding: 1em;
    width: min(700px,100%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
    
.close {
    color: var(--main-text-color);
    font-size: 2em;
    font-weight: bold;
}
    
.close:hover,
.close:focus {
    color: var(--main-text-color);
    text-decoration: none;
    cursor: pointer;
}
    
.modal-header {
    display: flex;
    color: var(--main-text-color);
    justify-content: space-between;
    align-items: center;
}
    
.modal-body {
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1em;
    font-size: 1.2em;
}
.modal-body section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}
.modal-body select{
    font-size: 1em;
    color: var(--main-text-color);
}
.modal-body input[type='checkbox']{
    cursor: pointer;
    width: 2em;
    color-scheme: light;
}
.modal-footer{
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
}
.modal-footer button{
    background-color: var(--base-color);
    color: #fff;
    outline: 0;
    border: 0;
    font-size: 1.3em;
    cursor: pointer;
    padding: 0.3em 1.2em;
}

@media screen and (max-width: 1440px) {
    .layout{
        grid-template-columns: 1fr;
        padding: unset;
        row-gap: 1em;
    }
    div.about-me{
        grid-area: span 1/1;
        margin: 0 auto;
        position: unset;
        overflow: hidden;
    }
    div.posts{
        grid-area: span 1/1;
    }
    .post-list{
        grid-area: 3/1;
        margin: 0 auto;
        width: min(100%,640px);
        border: var(--post-border);
        background-color: var(--post-background-color);
        padding: 0 1em;
    }
}
@media screen and (max-width: 666px) {
    body{
        font-size: 16px;
        padding: .5em;
    }
    header{
        padding: 1em;
    }
    .posts{
        gap: .5em;
    }
    .layout{
        row-gap: .5em;
    }
}