header {
    display: flex;
    max-width: 1440px;
    padding: 0.75rem;
    justify-content: space-around;
    align-items: center;
    background: var(--background-color);
    margin: 0 auto; 
    
}
header a{
    font-size: 24px;
    color: var(--main-text-color);
}
a.logo{
    font-weight: bold;
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
}